.community {
    background-color:#158CB7;
    text-align:center;
    padding-top:25px;
    padding-bottom:70px;
}

.communityTitle {
    font-size:35px;
    font-weight:bolder;
    padding-bottom:15px;
    margin-top:15px;
    margin-bottom:0px;
}

.communityDescription {
    font-weight:bolder;
    display:flex;
    margin:0 auto;
    max-width:725px;
    text-wrap:wrap;
    font-size:15px;
    padding-bottom:30px;
}

.communityGetStarted {
    background-color:white;
    border:none;
    padding:15px;
    width:200px;
    border-radius:10px;
}