.howItWorksContainer {
    margin-top:100px;
    text-align:center;
    color:black;
    background-color:#F1F5F9;
    padding-top:30px;
}

.howItWorksTitle {
    padding-bottom:30px;
    font-size:35px;
    font-weight:bolder;
}

.benefitsContainer {
    display:flex;
    justify-content:center;
    gap:30px;
}
