.values {
    color:black;
    text-align:center;
    margin-top:70px;
}

.valuesTitle {
    text-align:center;
    color:black;
    font-weight:bolder;
    font-size:32px;
}

.valuesContainer {
    display:flex;
    justify-content:center;
    gap:30px;
}